            .container {
                display: flex;
                flex-direction: column;
                background-color: #ede4e0;
            }

            .header-content {
                display: flex;
                gap: 20px;
              }
            
              @media (max-width: 991px) {
                .header-content {
                  flex-direction: column;
                  align-items: stretch;
                  gap: 0px;
                }
              }
            
              .logo-column {
                display: flex;
                flex-direction: column;
                width: 22%;
              }
            
              @media (max-width: 991px) {
                .logo-column {
                  width: 100%;
                }
              }
            
              .nav-column {
                display: flex;
                flex-direction: column;
                width: 38%;
                margin-left: 20px;
              }
            
              @media (max-width: 991px) {
                .nav-column {
                  width: 100%;
                }
              }
            
              .nav-links {
                justify-content: space-between;
                align-items: center;
                display: flex;
                margin-top: 37px;
                gap: 17px;
                font-size: 16px;
                color: #282828;
                font-weight: 700;
              }
            
              @media (max-width: 991px) {
                .nav-links {
                  margin-top: 40px;
                }
              }
            
              .nav-link-item.active {
                justify-content: center;
                border-color: rgba(165, 220, 116, 1);
                border-style: solid;
                border-bottom-width: 4px;
                padding: 10px 0;
              }
            
              .action-column {
                display: flex;
                flex-direction: column;
                width: 40%;
                margin-left: 20px;
              }
            
              @media (max-width: 991px) {
                .action-column {
                  width: 100%;
                }
              }
            
              .button-group {
                justify-content: end;
                display: flex;
                margin-top: 38px;
                padding-left: 80px;
                gap: 16px;
                font-size: 16px;
                font-weight: 400;
              }
            
              @media (max-width: 991px) {
                .button-group {
                  margin-top: 40px;
                  flex-wrap: wrap;
                }
              }
            
              .btn-outline,
              .btn-primary {
                justify-content: center;
                padding: 16px 8px;
              }
            
              .btn-outline {
                font-family: Russo One, sans-serif;
                border-color: rgba(0, 0, 0, 1);
                border-style: solid;
                border-width: 1px;
                color: #1f2033;
              }
            
              @media (max-width: 991px) {
                .btn-outline {
                  padding: 0 20px;
                }
              }
            
              .btn-primary {
                font-family: Russo One, sans-serif;
                background-color: var(--secondary, #1f2033);
                color: #fff;
              }
            
              @media (max-width: 991px) {
                .btn-primary {
                  padding: 0 20px;
                }
              }
            
              .content-section {
                border-radius: 16px;
                background-color: var(--secondary, #1f2033);
                display: flex;
                margin-top: -42px;
                align-self: center;
                width: 80%;
                max-width: 100%;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                padding: 54px;
              }
            
              @media (max-width: 991px) {
                .content-section {
                  padding: 0 20px;
                }
              }
            
              .content-inner {
                width: 1008px;
                max-width: 100%;
              }
            
              .content-row {
                display: flex;
                gap: 20px;
              }
            
              @media (max-width: 991px) {
                .content-row {
                  flex-direction: column;
                  align-items: stretch;
                  gap: 0px;
                }
              }
            
            
              .image-column {
                display: flex;
                flex-direction: column;
              }
              .logo{
                aspect-ratio: 1.25;
                object-fit: auto;
                object-position: center;
                width: 180px;
              }
              .header { position: relative; justify-self: center; width: 100%; max-width: -webkit-fill-available; padding: 0 20px; } 
              @media (max-width: 991px) { .header { max-width: 100%;
              padding: 0; 
              } } 
              .header-content { gap: 20px; display: flex; } 
              @media (max-width: 991px) { .header-content { flex-direction: column; align-items: stretch; gap: 0px; } } 
              .logo-column { display: flex; flex-direction: column; line-height: normal; width: 22%; margin-left: 0px; } 
              @media (max-width: 991px) { .logo-column { width: 100%; } } 
              .logo-image { aspect-ratio: 1.33; width: 234px; max-width: 100%; flex-grow: 1; } 
              @media (max-width: 991px) { .logo-image { margin-top: 40px; } } 
               
              .navbar { justify-content: space-between; align-items: center; display: flex; margin-top: 37px; gap: 17px; font-size: 16px; color: #282828; font-weight: 700; } 
              @media (max-width: 991px) { .navbar { 
                margin-top: 40px; 
                margin-right: 80px;
                margin-left: 60px;
                max-width: 100%;
                width: 100%;
                gap: 10px;
                padding: 0;
                align-items: center;
              } } 
              .nav-item { 
                font-family: Nunito Sans, sans-serif; 
                align-self: center; 
              } 
              .nav-item:hover{
                border-bottom: 4px solid rgba(165, 220, 116, 1); 
                cursor: pointer;
              } 
              .cta-column { 
                display: flex; 
                flex-direction: column; 
                line-height: normal; 
                width: 40%; 
                padding-left: 20px;
                padding-right: 20px; 
              } 
              @media (max-width: 991px) { 
                .cta-column { 
                  width: 100%; 
                  max-width: 100%;
                  padding-right: 80px;
                } 
              } 
              .cta-buttons { 
                justify-content: end; 
                display: flex; 
                margin-top: 38px; 
                padding-left: 80px; 
                gap: 16px; 
                font-size: 16px; 
                font-weight: 400; 
              } 
              @media (max-width: 991px) { .cta-buttons { 
                margin-top: 40px; 
                flex-wrap: wrap; 
                padding-right: 80px;
              } } 
              .cta-button { font-family: Russo One, sans-serif; justify-content: center; padding: 16px 8px; } 
              .cta-button.primary { 
                background-color: var(--secondary, #1f2033); 
                color: #fff; 
                border: 1px solid #000;
              } 
              .cta-button.primary:hover{
                background-color: #ede4e0;
                border: 1px solid #000;
                color: var(--secondary, #1f2033);
                cursor: pointer;
              }
              a{
                text-decoration: none;
                color: black;
              }
              .cta-button.secondary { 
                border: 1px solid #000; 
                background-color: #ede4e0;
                color: #1f2033; } 
                .cta-button.secondary:hover{
                  cursor: pointer;
                  background-color: var(--secondary, #1f2033); 
                  color: #fff; 
                  border: 1px solid #000;
                }
              .text-column {
                width: 66%;
              }
            
              @media (max-width: 991px) {
                .text-column {
                  width: 100%;
                }
              }
              a {
                text-decoration: none;
                color: black;
              }

            .main-section {
                display: flex;
                width: 100%;
                max-width: -webkit-fill-available;
                padding-right: 75px;
                gap: 20px;
                margin: 48px 0 0 37px;
                justify-content: space-between;
            }

            @media (max-width: 991px) {
                .main-section {
                    flex-wrap: wrap;
                    padding-right: 20px;
                    margin-top: 40px;
                }
            }

            .step {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
            }

            .step-icon-wrapper {
                border: 1px solid rgba(165, 220, 116, 1);
                border-radius: 50%;
                width: 18px;
                height: 18px;
                padding: 6px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .step-icon {
                background-color: #1f2033;
                border-radius: 50%;
                width: 18px;
                height: 18px;
            }

            .step-title {
                color: #1f2033;
                font-weight: 700;
                margin-top: 16px;
                font-size: 16px;
                font-family: Nunito Sans, -apple-system, Roboto, Helvetica, sans-serif;
                text-transform: capitalize;
            }

            .step-description {
                color: #6b6b6b;
                margin-top: 4px;
                font-size: 12px;
                font-family: Nunito Sans, -apple-system, Roboto, Helvetica, sans-serif;
                line-height: 1.42;
            }

            .form-section {
                display: flex;
                width: 100%;
                max-width: -webkit-fill-available;
                margin: 107px 0 0 37px;
                align-self: center;
            }

            @media (max-width: 991px) {
                .form-section {
                    max-width: 100%;
                    margin-top: 40px;
                }
            }

            .form-container {
                display: flex;
                width: 100%;
                justify-content: space-evenly;
                gap: 20px;
            }

            @media (max-width: 991px) {
                .form-container {
                    flex-direction: column;
                    align-items: stretch;
                    gap: 0px;
                }
            }

            .form-item {
                display: flex;
                flex-direction: column;
                max-width: 57%;
            }

            @media (max-width: 991px) {
                .form-item {
                    width: 100%;
                }
            }

            .personal-info {
                display: flex;
                flex-direction: column;
                margin-top: 25px;
                line-height: 1.4;
            }

            .personal-info-heading {
                font: 600 24px Nunito Sans, sans-serif;
                text-transform: capitalize;
                color: #1f2033;
            }

            .input-group {
                display: flex;
                flex-direction: column;
                margin-top: 33px;
                font-size: 16px;
                font-weight: 400;
            }

            .input-row {
                display: flex;
                justify-content: space-between;
                gap: 20px;
            }

            @media (max-width: 991px) {
                .input-row {
                    max-width: 100%;
                    flex-wrap: wrap;
                }
            }

            .input-field {
                color: black;
                background-color: #ede4e0;
                font-family: Nunito Sans, sans-serif;
                font-size: 20px;
                align-self: self-start;
                border: none;
                border-bottom: 1px;
                border-bottom-style: solid;
                border-bottom-color: black;
                outline: none;
                flex-grow: 1;
            }
            select{
                color: black;
                background-color: #ede4e0;
                font-family: Nunito Sans, sans-serif;
                font-size: 20px;
                align-self: self-start;
                border: none;
                border-bottom: 1px;
                border-bottom-style: solid;
                border-bottom-color: black;
                outline: none;
                flex-grow: 1;
            }

            .vertical-spacing {
                margin-top: 24px;
            }

            @media (max-width: 991px) {
                .input-field {
                    padding-right: 20px;
                }
            }

            .order-details-section {
                display: flex;
                flex-direction: column;
                line-height: normal;
                width: 43%;
                margin-left: 20px;
            }

            @media (max-width: 991px) {
                .order-details-section {
                    width: 100%;
                }
            }

            .order-details {
                display: flex;
                flex-grow: 1;
                flex-direction: column;
                margin-top: 25px;
                line-height: 1.4;
            }

            .order-heading {
                font: 600 24px Nunito Sans, sans-serif;
                text-transform: capitalize;
                color: #1f2033;
            }

            .order {
                display: flex;
                flex-direction: column;
                margin-top: 24px;
            }

            .order-item {
                display: flex;
                flex-direction: column;
                padding: 16px;
                border-radius: 16px;
                background-color: #fff;
            }

            .order-item img {
                width: 100%;
                object-fit: auto;
                object-position: center;
                aspect-ratio: 1.92;
            }

            .order-item-title {
                margin: 12px 30px 0 0;
                color: #1f2033;
                font: 700 20px/28px Nunito Sans, -apple-system, Roboto, Helvetica, sans-serif;
            }

            .order-item-info {
                display: flex;
                gap: 16px;
                line-height: 1.4;
                margin-top: 12px;
            }

            .price {
                color: #1f2033;
                font: 800 24px Nunito Sans, sans-serif;
            }

            .discount {
                display: flex;
                gap: 16px;
                align-self: start;
            }

            .old-price {
                text-decoration-line: line-through;
                color: #6b6b6b;
                font: 600 20px Nunito Sans, sans-serif;
            }

            .discounted-price {
                padding: 10px;
                color: #1f2033;
                background-color: #a5dc74;
                font: 700 16px Nunito Sans, sans-serif;
                border-radius: 90px;
            }

            .divider {
                height: 0px;
                border-color: rgba(196, 196, 196, 1);
                border-style: dashed;
                align-self: center;
                width: 95%;
                border-width: 2px;
            }

            .price-details {
                display: flex;
                flex-direction: column;
                padding: 16px;
                border-radius: 16px;
                background-color: #fff;
                line-height: 1.4;
            }

            .price-row {
                display: flex;
                justify-content: space-between;
                gap: 20px;
                font-size: 20px;
                color: #6b6b6b;
                font-weight: 600;
                padding: 10px 0;
                border-bottom: 2px solid rgba(127, 127, 127, 0.42);
                margin-top: 8px;
            }

            @media (max-width: 991px) {
                .price-row {
                    max-width: 100%;
                    flex-wrap: wrap;
                }
            }

            .price-item {
                font-family: Nunito Sans, sans-serif;
            }

            .total-price {
                display: flex;
                justify-content: space-between;
                gap: 20px;
                font-size: 32px;
                color: #323232;
                font-weight: 800;
                white-space: nowrap;
                margin-top: 16px;
                margin: auto 0;
            }

            @media (max-width: 991px) {
                .total-price {
                    max-width: 100%;
                    flex-wrap: wrap;
                    white-space: initial;
                }
            }

            .register-button {
              justify-content: center;
              align-items: center;
              text-align: center;
              padding: 13px 8px;
              color: #1f2033;
              width: 100%;
              max-width: 100%;
              background-color: #a5dc74;
              text-transform: uppercase;
              font: 400 16px/1.4 Russo One, sans-serif;
              border: 2px solid rgba(31, 32, 51, 1);
              border-radius: 90px;
              margin-top: 24px;
              cursor: pointer;
          }
          .register-button:hover {
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 13px 8px;
            color: #1f2033;
            width: 100%;
            max-width: 100%;
            background-color: white;
            text-transform: uppercase;
            font: 400 16px/1.4 Russo One, sans-serif;
            border: 2px solid rgba(31, 32, 51, 1);
            border-radius: 90px;
            margin-top: 24px;
            cursor: pointer;
        }

          @media (max-width: 991px) {
              .register-button {
                  max-width: 100%;
                  padding: 0 20px;
              }
          }

          form{
            display: flex;
            flex-direction: column;
          }

            .checkout-button {
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 100%;
                max-width: 100%;
                padding: 13px 8px;
                color: #1f2033;
                background-color: #a5dc74;
                text-transform: uppercase;
                font: 400 16px/1.4 Russo One, sans-serif;
                border: 2px solid rgba(31, 32, 51, 1);
                border-radius: 90px;
                margin-top: 24px;
                cursor: pointer;
            }

            @media (max-width: 991px) {
                .checkout-button {
                    max-width: 100%;
                    padding: 0 20px;
                }
            }

            .footer1{
                background-color: #ede4e0;
                padding: 50px;
              }
              .footer2 {
                border-radius: 16px;
                background-color: var(--secondary, #1f2033);
                padding: 37px 80px 37px 38px;
                width: 80%;
                justify-self: center;
                margin: auto;
              }
            
              @media (max-width: 991px) {
                .footer2 {
                  max-width: 100%;
                  padding: 0 20px;
                }
              }
            
              .footer-content2 {
                display: flex;
                gap: 20px;
              }
            
              @media (max-width: 991px) {
                .footer-content2 {
                  flex-direction: column;
                  align-items: stretch;
                  gap: 0px;
                }
              }
              .footer-logo{
                width: min-content;
                height: min-content;
              }
              .about-column {
                display: flex;
                flex-direction: column;
                width: 58%;
              }
            
              @media (max-width: 991px) {
                .about-column {
                  width: 100%;
                }
              }
            
              .about-content {
                display: flex;
                margin-top: 107px;
                flex-grow: 1;
                flex-direction: column;
              }
            
              @media (max-width: 991px) {
                .about-content {
                  max-width: 100%;
                  margin-top: 40px;
                }
              }
            
              .about-text {
                color: var(--accent, #ede4e0);
                font: 400 14px Nunito Sans, sans-serif;
              }
            
              @media (max-width: 991px) {
                .about-text {
                  max-width: 100%;
                }
              }
            
              .social-media {
                align-self: start;
                display: flex;
                margin-top: 16px;
                padding-right: 66px;
                gap: 16px;
              }
            
              @media (max-width: 991px) {
                .social-media {
                  padding-right: 20px;
                }
              }
            
              .social-icon {
                aspect-ratio: 1;
                object-fit: auto;
                object-position: center;
                width: 24px;
              }
            
              .nav-column1 {
                display: flex;
                flex-direction: column;
                width: 42%;
              }
            
              @media (max-width: 991px) {
                .nav-column1 {
                  width: 100%;
                  max-width: 100%;
                }
              }
            
            
              @media (max-width: 991px) {
                .nav-content {
                  margin-top: 40px;
                }
              }
              nav{
                display: flex;
                flex-direction: column;
              }
              .nav-links {
                display: flex;
                flex-direction: row;
                gap: 100px;
              }
            
              @media (max-width: 991px) {
                .nav-links {
                  flex-direction: column;
                  align-items: stretch;
                }
              }
            
              .nav-group {
                display: flex;
                align-self: baseline;
                flex-direction: column;
                color: var(--accent, #ede4e0);
                font-weight: 400;
              }
            
              @media (max-width: 991px) {
                .nav-group {
                  margin-top: 40px;
                }
              }
            
              .nav-title {
                font: 20px/140% Russo One, sans-serif;
              }
            
              .nav-link {
                font-family: Nunito Sans, sans-serif;
                margin-top: 4px;
                color: white;
              }
            
              .work-hours {
                display: flex;
                flex-direction: column;
                width: 64%;
              }
            
              @media (max-width: 991px) {
                .work-hours {
                  width: 100%;
                }
              }
            
              .hours-content {
                display: flex;
                flex-grow: 1;
                padding-right: 14px;
                flex-direction: column;
                color: var(--accent, #ede4e0);
                font-weight: 400;
              }
            
              @media (max-width: 991px) {
                .hours-content {
                  margin-top: 40px;
                }
              }
            
              .hours-title {
                font: 20px/140% Russo One, sans-serif;
              }
            
              .work-details {
                display: flex;
                margin-top: 0;
                flex-direction: column;
                font-size: 14px;
                line-height: 30px;
              }
            
              .work-item {
                display: flex;
                gap: 8px;
              }
            
              .work-text {
                font-family: Nunito Sans, sans-serif;
                margin: auto 0;
              }
            
              .contact {
                display: flex;
                margin-top: 16px;
                gap: 10px;
                padding: 8px;
                justify-content: center;
                border-radius: 90px;
                border: 2px solid rgba(31, 32, 51, 1);
                background-color: var(--PRIMARY, #a5dc74);
                color: var(--secondary, #1f2033);
                text-transform: uppercase;
                line-height: 140%;
              }
              .row-gap2{
                width: -webkit-fill-available;
              }
              .enquiry-form-wrapper {
                display: flex;
                padding-top: 100px;
                flex-direction: column;
                font-weight: 400;
                background-color: #ede4e0;
                padding: 0 20px;
              }
            
              @media (max-width: 991px) {
                .enquiry-form-wrapper {
                  max-width: 100%;
                  margin-top: 40px;
                }
              }
            
              .enquiry-form {
                border-radius: 16px;
                background-color:#ede4e0;
                align-self: center;
                width: 100%;
                max-width: 1008px;
                padding: 80px 60px 0;
              }
            
              @media (max-width: 991px) {
                .enquiry-form {
                  padding: 0 20px;
                }
              }
            
              .enquiry-form-content {
                display: flex;
                margin-top: 10px;
                width: 100%;
                max-width: 100%;
                flex-direction: column;
                padding: 0 1px;
              }
            
              .enquiry-form-title {
                align-self: center;
                display: flex;
                width: 90%;
                text-align: center;
                max-width: 100%;
                flex-direction: column;
                font-size: 32px;
                color: var(--accent, #ede4e0);
                line-height: 140%;
              }
            
              .enquiry-form-subtitle {
                font-family: Nunito Sans, sans-serif;
                justify-content: center;
                color: #000;
                font-weight: bold;
                border-bottom: #a5dc74;
                border-bottom-style: solid;
                border-bottom-width:2px; 
                padding: 2px 24px;
              }
            
              @media (max-width: 991px) {
                .enquiry-form-subtitle {
                  padding: 0 20px;
                }
              }
            
              .form-group {
                display: flex;
                margin-top: 24px;
                border-radius: 80px;
                background-color: #fff;
                padding-left: 26px;
                gap: 20px;
                font-size: 14px;
              }
            
              @media (max-width: 991px) {
                .form-group {
                  flex-wrap: wrap;
                  padding-left: 20px;
                }
              }
              .input-label{
                color: black;
                background-color: #ede4e0;
                font-family: Nunito Sans, sans-serif;
                font-size: 20px;
                align-self: center;
                border: none;
                border-bottom: 1px;
                border-bottom-style: solid;
                border-bottom-color: black;
                outline: none;
                flex-grow: 1;
              }
            
              .input-label1 {
                color: #7f7f7f;
                font-family: Nunito Sans, sans-serif;
                font-size: 20px;
                align-self: center;
                border: none;
                outline: none;
                flex-grow: 1;
              }
            
              .input-field1 {
                font-family: Russo One, sans-serif;
                justify-content: center;
                border-radius: 90px;
                cursor: pointer;
                border: 2px solid rgba(0, 0, 0, 1);
                background-color: var(--PRIMARY, #a5dc74);
                color: #000;
                text-transform: uppercase;
                line-height: 140%;
                padding: 16px 8px;
              }
              .input-field1:hover {
                font-family: Russo One, sans-serif;
                justify-content: center;
                border-radius: 90px;
                cursor: pointer;
                border: 2px solid rgba(0, 0, 0, 1);
                background-color: white;
                color: #000;
                text-transform: uppercase;
                line-height: 140%;
                padding: 16px 8px;
              }
            
              @media (max-width: 991px) {
                .input-field {
                  padding: 0 20px;
                }
              }